body {
  /*background-image: url("https://www.blinn.edu/_files/images/depts/new-students.jpg");*/
  /*background-image: url("../images/rellis-header.jpg");*/
  /*background-image: url("../images/new-students.jpg");*/
  background-image: url("../images/rellis-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1,
h2 {
  color: #ffffff;
}

.container-touchscreen-blinn {
  position: relative;
  top: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.col-blinn {
  /* margin: 10px; */
  padding-bottom: 20px;
  text-align: center;
  /*opacity: 0.8;*/
}

.col-blinn .btn-touch-screen-blinn {
  /* reset user agent stylesheet */
  padding: 0;
  color: inherit;
  appearance: none;
  /*background-color: #002d72 !important;*/
  background-color: rgba(0, 45, 114, 0.8);
  /* make sure properties affecting height have same value */
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
  border-width: 2px;
  border-style: solid;
  height: 150px;
  width: 300px;
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
  --padding-x: 1.2em;
  border-color: transparent; /* hide button border */
}
